[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain = "*"
openai = "*"
black = "*"
pylint = "*"
langchain-experimental = "*"
langchain-openai = "*"
qrcode = "*"
pandas = "*"
tabulate = "*"
langchainhub = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
